{% load static %}
<script type="text/javascript" src="{% static 'configuration/dist/inline.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'configuration/dist/polyfills.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'configuration/dist/styles.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'configuration/dist/vendor.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'configuration/dist/main.bundle.js' %}"></script>
<app-configuration></app-configuration>